
.profile{
    font-family: "Poppins" , "sans-serif ";
}
.settings {
    font-family: "Poppins" , "sans-serif ";
}
.no-arrow {
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none; 
}

@media(max-width:1000px){

    .profile{
        margin-top: 60px;
        padding: 10px;
    } 

}

@media(max-width:752px){

    .profile-user-Info{
        flex-direction: column;
        gap: 6px
    }

}

@media(max-width:700px){

    .profile{
        margin-top: 65px;
        padding: 5px;
    } 
    .profile-Info{
        padding: 5px;
    }
    .profile-wallet-info{
        padding-left: 10px;
        padding-right: 10px;
    }
  
}

@media(max-width:410px){

    .profile-wallet-info{
        flex-direction: column;
    }
    .profile-Btns{
        align-items: start;
        margin-top: 4px;
        gap: 12px;
        flex-direction: row;
    }

}

@media(max-width:295px){

    .profile-Btns{
        flex-direction: column;
    }

}